theme0 {
    color: hsl(306, 25%, 92%)
}
theme1 {
    color: hsl(230, 35%, 79%)
}
theme2 {
    color: hsl(264, 25%, 63%)
}
theme3 {
    color: hsl(296, 39%, 31%)
}
cartoon0 {
    color: hsl(110, 35%, 79%)
}
cartoon1 {
    color: hsl(110, 66%, 51%)
}
cartoon2 {
    color: hsl(133, 91%, 68%)
}
cartoon3 {
    color: hsl(47, 61%, 82%)
}
cartoon4 {
    color: hsl(47, 85%, 70%)
}
cartoon5 {
    color: hsl(55, 91%, 68%)
}
 